<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <object th:replace="fragments/header :: head"></object>
    <div th:replace="fragments/header"></div>
    <title>404</title>
</head>
<body>
<div>
    <div th:replace="fragments/menu"></div>
    <div class="container-fluid">
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Sayfa bulunamadı !</p>
            <p class="text-gray-500 mb-0">Aradığınız kayıt bulunamadı.</p>
            <a onclick="goBack()">&larr; Bir önceki sayfaya git</a>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    function goBack() {
        window.history.back();
    }
</script>
</html>