<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <object th:replace="fragments/header :: head"></object>
    <div th:replace="fragments/header"></div>
    <title>Yazar | Düzenle</title>
</head>
<body>
<div>
    <div th:replace="fragments/menu"></div>
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Yazar Düzenle</h1>
        <p class="mb-4"></p>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Yazar Düzenleme Formu </h6>
            </div>
            <div class="card-body">
                <form action="#" th:action="@{/web/author/update}" method="post" th:object="${authorDto}">
                    <input type="hidden" th:field="*{id}"/>
                    <div class="form-group">
                        <label for="authorName">Yazar Adı</label>
                        <input type="text" class="form-control" id="authorName" aria-describedby="authorName" maxlength="100"
                               placeholder="Yazar ADINI giriniz..." th:field="*{name}"/>
                    </div>
                    <div class="form-group">
                        <label for="authorDescription">Açıklama</label>
                        <textarea type="text" class="form-control" rows="3" id="authorDescription"
                                  aria-describedby="authorDescription"
                                  placeholder="Yazar AÇIKLAMASINI giriniz..." th:field="*{description}" maxlength="250" ></textarea>
                    </div>
                    <div class="text-right">
                        <a th:href="@{/web/author/list}" class="btn btn-danger btn-icon-split">
                    <span class="icon text-white-50">
                      <i class="fas fa-arrow-alt-circle-left"></i>
                    </span>
                            <span class="text">Listeye Dön</span>
                        </a>
                        <button type="submit" class="btn btn-success btn-icon-split"><span
                                class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                            <span class="text"> Kaydet</span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer"></div>
</div>
</body>
</html>